<nav class="navbar navbar-expand-md navbar-dark bg-blue">
    <div class="container">
        <a href="index.html" class="navbar-brand">
            <h3>&copy;Sanjeev Jha</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" area-control="navbarCollapse" area-expanded="false" area-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse-navbar-collapse" id="#navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item-active">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
