
<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/blog.jpg" alt="blog1" />
            <h3>Sample blog post 1</h3>
            <p>by <span>Sanjeev Jha</span> on <span>Jan 8, 2020</span></p>
            <p>
                Many blogs provide commentary on a particular subject or topic, ranging from politics to sports. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/blog.jpg" alt="blog1" />
            <h3>Sample blog post 2</h3>
            <p>by <span>Sanjeev Jha</span> on <span>Jan 8, 2020</span></p>
            <p>
                Many blogs provide commentary on a particular subject or topic, ranging from politics to sports. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/blog.jpg" alt="blog1" />
            <h3>Sample blog post 3</h3>
            <p>by <span>Sanjeev Jha</span> on <span>Jan 8, 2020</span></p>
            <p>
                Many blogs provide commentary on a particular subject or topic, ranging from politics to sports. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/blog.jpg" alt="blog1" />
            <h3>Sample blog post 4</h3>
            <p>by <span>Sanjeev Jha</span> on <span>Jan 8, 2020</span></p>
            <p>
                Many blogs provide commentary on a particular subject or topic, ranging from politics to sports. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/blog.jpg" alt="blog1" />
            <h3>Sample blog post 5</h3>
            <p>by <span>Sanjeev Jha</span> on <span>Jan 8, 2020</span></p>
            <p>
                Many blogs provide commentary on a particular subject or topic, ranging from politics to sports. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/blog.jpg" alt="blog1" />
            <h3>Sample blog post 6</h3>
            <p>by <span>Sanjeev Jha</span> on <span>Jan 8, 2020</span></p>
            <p>
                Many blogs provide commentary on a particular subject or topic, ranging from politics to sports. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
